.page {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  padding-top: 7.125rem;
  padding-left: 24.375rem;
  box-sizing: border-box;
}


.contentWrapper {
  display: flex;
  align-items: center;
  gap: 5.625rem;
}
