.title {
  font-size: 6rem;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  margin: 0 0 1.25rem 0;


  &::before {
    content: "«";
    position: absolute;
    left: -3rem;

    @media screen and (max-width: 768px) {
      left: -.9rem;
    }
  }

  &::after {
    content: "»";
  }


  @media screen and (max-width: 1024px) {
    font-size: 4rem;
  }

  @media screen and (max-width: 768px) {
    font-size: 2rem;
  }
}
